* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-bottom: 25px;
  
}

img {
  margin-top: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

#img-desktop {
  display: none;
}

div {
  padding: 20px 26px 0px 27px;
  background-color: hsl(0, 0%, 100%);
}

#info-product {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 24px;
}

#kind-of-product {
  font-size: 13px;
}

h1 {
  font-family: 'Fraunces', serif;
  line-height: 30px;
  padding: 10px 0px 10px 0px;
}

#prices {
  display: flex;
  flex-direction: row;
  padding: 26px 0px;
  align-items: center;
}

.price-green {
  font-family: 'Fraunces', serif;
  font-size: 32px;
  color: hsl(158, 36%, 37%);
  margin-right: 20px;
}

#original-price {
  text-decoration: line-through;
  font-size: 13px;
}

button {
  width: 295px;
  height: 48px;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 23px;
}

button:hover {
  background-color: hsl(158, 37%, 27%);
}

button p {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 500;
}

button img {
  margin: auto 10px;
  border-radius: 0%;
}

@media (min-width: 640px) {
  body {
    height: 100%;
  }
  main {
    width: 633px;
    flex-direction: row;
  }
  img {
    max-width: 300px;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
  }
  #img-desktop {
    display: block;
  }
  #img-mobile {
    display: none;
  }
  div {
    padding: 30px 30px 0px 33px;
  }
  #info-product {
    width: 300px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  button {
    width: 235px;
    height: 48px;
    margin-bottom: 23px;
  }
  h1 {
    padding: 15px 0px 28px 0px;
  }
  #prices {
    display: flex;
    flex-direction: row;
    padding: 30px 0px 34px 0px;
    align-items: center;
  }
}